################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleForAzDevOps/.vs/ConsoleForAzDevOps/v15/Server/sqlite3
