################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleForAzDevOps/.vs/ConsoleForAzDevOps/v15/Server/sqlite3
/ConsoleForAzDevOps/ConsoleForAzDevOps/obj
/ConsoleForAzDevOps/ConsoleForAzDevOps/bin/Debug/netcoreapp2.1
/ConsoleForAzDevOps/.vs/ConsoleForAzDevOps/v15/.suo
