################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleForAzDevOps/.vs/ConsoleForAzDevOps/v15/Server/sqlite3
/ConsoleForAzDevOps/ConsoleForAzDevOps/obj
/ConsoleForAzDevOps/ConsoleForAzDevOps/bin/Debug/netcoreapp2.1
/ConsoleForAzDevOps/.vs/ConsoleForAzDevOps/v15/.suo
/ConsoleForAzDevOps/packages/bootstrap.3.3.7
/ConsoleForAzDevOps/packages
/ConsoleForAzDevOps/.vs
/ConsoleForAzDevOps/WebApplication2/bin
/ConsoleForAzDevOps/WebApplication2/obj/Debug
